@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="well">
    <ul class="nav nav-pills nav-stacked">
        <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a  asp-controller="Manage" asp-action="Index">@Profile</a></li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-controller="Manage" asp-action="ChangePassword">@ChangePassword</a></li>
        <li class="@ManageNavPages.GoogleCalendarIntegrationNavClass(ViewContext)"><a asp-controller="Manage" asp-action="GoogleCalendarIntegration">@GoogleCalendarIntegration</a></li>
        <li class="@ManageNavPages.PlayerStatisticsNavClass(ViewContext)"><a asp-action="DisplayStatistics">@DisplayStatistics</a></li>
    </ul>
</div>
