@model List<DisplayStatisticsViewModel>
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewData["Title"] = @DisplayStatistics;
    ViewData.AddActivePage(ManageNavPages.DisplayStatistics);
}


<div class="area_title mb-30">
    <h3>@ViewData["Title"]</h3>
</div>

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th scope="col" class="col-xs-1">#</th>
            <th scope="col">@StatsTestId</th>
            <th scope="col">@StatsCorrect</th>
            <th scope="col">@StatsWrong</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row" class="col-xs-1"></th>
                <td>@i.TestId</td>
                <td>@i.CorrectAnswerDateMessage</td>
                <td>@i.WrongAnswerCount</td>
            </tr>
        }
    </tbody>
</table>