@using DevAdventCalendarCompetition.Services
@model RegisterViewModel

@inject IdentityService IdentityService

@{
    ViewData["Title"] = "Rejestracja";
}

<h2>@ViewData["Title"]</h2>
<div class="content-centered">
    <section class="center-block">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" value="@ViewData["Email"]" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Podaj hasło</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Potwierdź hasło</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row text-center">
                <button type="submit" class="btn btn-default">Zarejestruj</button>
            </div>
        </form>

        <br/>

        @{
            var externalProviders = await IdentityService.GetExternalAuthenticationSchemes();

            if (externalProviders != null && externalProviders.Count > 0)
            {
                <h4>Lub użyj innego sposobu rejestracji</h4>
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="col text-center">
                        @foreach (var provider in externalProviders)
                        {
                            <div class="row btn-block">
                                <button type="submit" class="btn btn-social btn-@provider.Name.ToLower()" name="provider" value="@provider.Name" title="Zaloguj używając konta @provider.DisplayName">
                                    <i class="fab fa-@provider.Name.ToLower()"></i>@provider.Name
                                </button>
                            </div>
                        }
                    </div>
                </form>
            }
        }

    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
