@using static DevAdventCalendarCompetition.Resources.ViewsMessages
@using System.Globalization

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Results</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    ViewBag.Title = @Results;
}
@using DevAdventCalendarCompetition.Models.Test
@using Microsoft.AspNetCore.Http
@model DevAdventCalendarCompetition.Models.Test.TestResultsViewModel
@if (Model == null)
{
    <section class="event_txt">
        <div class="container">
            <div class="col-md-12">
                <div class="party_text">
                    <h1>
                        @WelcomeToTheGame <br />
                        <img src="~/theme-2019/images/gift_bag.png" alt="gifts" class="mt-20">
                    </h1>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="event_txt">
        <div class="container">
            <div class="col-md-12">
                <div class="party_text">
                    @if (Model.UserFinalPosition != 0)
                    {
                        <h1 class="mb-30">
                            W całym konkursie zajmujesz  <span>@Model.UserFinalPosition</span> miejsce!
                        </h1>
                    }
                    @if (Model.UserWeek3Position != 0)
                    {
                        <h1 class="mb-30">
                            W trzecim tygodniu zajmujesz  <span>@Model.UserWeek3Position</span> miejsce!
                        </h1>
                    }
                    @if (Model.UserWeek2Position != 0)
                    {
                        <h1 class="mb-30">
                            W drugim tygodniu zajmujesz  <span>@Model.UserWeek2Position</span> miejsce!
                        </h1>
                    }
                    @if (Model.UserWeek1Position != 0)
                    {
                        <h1 class="mb-30">
                            W pierwszym tygodniu zajmujesz <span>@Model.UserWeek1Position</span> miejsce!
                        </h1>
                    }

                    @if (Model.UserWeek1Position == 0 && Model.UserWeek2Position == 0 && Model.UserWeek3Position == 0 && Model.UserFinalPosition == 0)
                    {
                        <h1 class="mb-30">@ScoresWillBeSoon</h1>
                        <p>
                            @ScoreDescription
                        </p>
                    }
                    <img src="~/theme-2019/images/gift_bag.png" alt="gifts">
                </div>
            </div>
        </div>
    </section>
    <div class="container mb-100">
        <div class="row results mb-30">
            <div class="col-xs-12">

                <!-- Tab panes -->
                <div class="tab-content">

                    @if (Model.TotalTestResults != null)
                    {
                        <ul class="nav nav-tabs" id="results" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#week1" aria-controls="week1" role="tab" data-toggle="tab">@string.Format(CultureInfo.InvariantCulture, @Week, 1)</a>
                            </li>
                            <li role="presentation">
                                <a href="#week2" aria-controls="week2" role="tab" data-toggle="tab">@string.Format(CultureInfo.InvariantCulture, @Week, 2)</a>
                            </li>
                            <li role="presentation">
                                <a href="#week3" aria-controls="week3" role="tab" data-toggle="tab">@string.Format(CultureInfo.InvariantCulture, @Week, 3)</a>
                            </li>
                            <li role="presentation">
                                <a href="#full" aria-controls="full" role="tab" data-toggle="tab">@FullList</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="week1">
                                @if (Model.TotalTestResults.TryGetValue(1, out var week1results))
                                {
                                    await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int, PaginatedCollection<TestResultEntryViewModel>>(1, week1results));
                                }
                                else
                                {
                                    <br />
                                    <div class="reveal animated" data-reveal-anim="fadeInDown" data-anim-delay="0.3s">
                                        <h4 class="mb-30">
                                            @Week1ScoreDescription
                                        </h4>
                                    </div>

                                    <img src="~/theme-2019/images/hanging.svg" alt="">
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="week2">
                                @if (Model.TotalTestResults.TryGetValue(2, out var week2results))
                                {
                                    await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int, PaginatedCollection<TestResultEntryViewModel>>(2, week2results));
                                }
                                else
                                {
                                    <br />
                                    <div class="reveal animated" data-reveal-anim="fadeInDown" data-anim-delay="0.3s">
                                        <h4 class="mb-30">
                                            @Week2ScoreDescription
                                        </h4>
                                    </div>

                                    <img src="~/theme-2019/images/hanging.svg" alt="">
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="week3">
                                @if (Model.TotalTestResults.TryGetValue(3, out var week3results))
                                {
                                    await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int, PaginatedCollection<TestResultEntryViewModel>>(3, week3results));
                                }
                                else
                                {
                                    <br />

                                    <div class="reveal animated" data-reveal-anim="fadeInDown" data-anim-delay="0.3s">
                                        <h4 class="mb-30">
                                            @Week3ScoreDescription
                                        </h4>
                                    </div>

                                    <img src="~/theme-2019/images/hanging.svg" alt="">
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="full">
                                @if (Model.TotalTestResults.TryGetValue(4, out var finalResults))
                                {
                                    await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int, PaginatedCollection<TestResultEntryViewModel>>(4, finalResults));
                                }
                                else
                                {
                                    <br />
                                    <div class="reveal animated" data-reveal-anim="fadeInDown" data-anim-delay="0.3s">
                                        <h4 class="mb-30">
                                            @FinalScoreDescription
                                        </h4>
                                    </div>

                                    <img src="~/theme-2019/images/hanging.svg" alt="">
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div role="tabpanel" class="tab-pane" id="totalresults">@TestsAreActive</div>
                    }
                </div>
            </div>
        </div>
    </div>
}