@using static DevAdventCalendarCompetition.Resources.ViewsMessages

    <div class="donate_page">
        <section class="promot_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="promot_content_wrapper">
                            <div class="promt_content area_title">
                                <h3>@Partners</h3>
                            </div>
                            <div class="santa_with_bag reveal animated" data-reveal-anim="bounceIn" data-anim-delay="0.3s">
                                <img src="~/theme-2019/images/gift_bag.png" alt="Begger_santa">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*<div class="container mb-100 mt-100">
            <div class="row">
                <div class="col-12 mb-30 mt-30 text-center">
                    <div class="area_title mb-30">
                        <h3>@DoYouWantToBePartner2020 </h3>
                    </div>

                    <a href="mailto:devadventcalendar@gmail.com" class="chris_btn reveal animated" data-reveal-anim="fadeIn">
                        @ContactUs
                    </a>
                </div>
            </div>
        </div>*@

        @*<div class="breadcrumb_area">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_wrapper">
                        <div class="page_title page_title--block text-center">
                            <h3>@LastYearPartners</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


        <section class="event_txt">
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <h1 class="mb-30">@MainPartner</h1>
                    </div>
                </div>

                <div class="row prizes-wrapper">
                    <div class="col-sm-4 mb-30"></div>
                    <div class="col-sm-4 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://incat.com.pl/" target="_blank" class="flex-centered flex-grow" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/partners/incat.jpg" alt="incat" title="Incat" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="event_txt">
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <h1 class="mb-30">@WeeklyPartners</h1>
                    </div>
                </div>

                <div class="row prizes-wrapper">
                    <div class="col-sm-4 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://career.softserveinc.com/en-us/poland" target="_blank" class="flex-centered flex-grow" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/partners/softserve.jpg" alt="softserve" title="SoftServe" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://cshark.com/" target="_blank" class="flex-centered flex-grow" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/partners/cshark.jpg" alt="cshark" title="CShark" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://spyro-soft.com" target="_blank" class="flex-centered flex-grow" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/partners/spyrosoft.jpg" alt="spyrosoft" title="Spyrosoft" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="event_txt">
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <h1 class="mb-30">@PrizesPartners</h1>
                    </div>
                </div>

                <div class="row prizes-wrapper">
                    <div class="col-sm-4 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://www.itstartup.pl/" target="_blank" class="flex-centered flex-grow" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/partners/startupIT.jpg" alt="startupIT" title="IT Startup - Gra Karciana" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://2021.boilingfrogs.pl/" target="_blank" class="flex-centered flex-grow" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/partners/boilingfrogs.jpg" alt="boilingfrogs" title="BoilingFrogs" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="event_txt">
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <h1 class="mt-30 mb-30">@MediaPartners</h1>
                    </div>
                </div>

                <div class="row prizes-wrapper">
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://www.meetup.com/pl-PL/KGD-NET/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/kgd.jpg" alt="kgd" title="KGD.NET" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://programmer-girl.com/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/programmer-girl.jpg" alt="Programmer-girl" title="Programmer-girl" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://www.meetup.com/pl-PL/wrocnet/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/wrocnet.jpg" alt="wrocnet" title="Wrocnet" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://www.piesik.me/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/piesik.me.jpg" alt="piesik.me" title="Piesik.me" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-fullheight">
                            <a href="https://geek-on.pl/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/geekon.jpg" alt="geek-on" title="Geekon" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://piecioshka.pl" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/piecioshka.jpg" alt="piecioshka" title="Blog piecioshka.pl" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row prizes-wrapper">
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://www.facebook.com/fsgeekk" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/FSGeek.jpg" alt="fsgeek" title="FSGeek" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://www.facebook.com/azuronet" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/azuronet.jpg" alt="azuronet" title="Azuronet" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://www.facebook.com/azuronet" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/netmeetup.jpg" alt="neetmeetup" title=".NET Meetup Poland" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://dotnetomaniak.pl/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/dotnetomaniak.jpg" alt="dotnetomaniak" title="dotNETomaniak" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://devsi.pl/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/devsi.jpg" alt="devsi" title="Devsi" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://warsawjs.com/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/warsawjs.jpg" alt="warsawjs" title="WarsawJS" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row prizes-wrapper">
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://www.facebook.com/jvaconpoland" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/jvaconpoland.jpg" alt="jvaconpoland" title="JVAConPoland" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://www.facebook.com/groups/255597918944825/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/juniorpyta.jpg" alt="juniorPyta" title="JuniorPyta" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-30">
                        <div class="border prize-wrapper flex-column flex-centered flex-fullheight">
                            <a href="https://devsession.pl/" target="_blank" rel="noopener noreferrer">
                                <img src="~/theme-2019/images/patrons/devsession.jpg" alt="devsession" title="DevSession" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
        </section>
    </div>
