@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Prizes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="send_wishes_section shadow mb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ">
                <div class="send_wishe_content">
                    <div class="area_title">
                        <h3>@Presents</h3>
                    </div>
                    <p>@PresentsDescription</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-100 mt-100">
    <div class="row">
        <div class="col-12 mb-30 mt-30 text-center">
            <div class="area_title mb-30">
                <h3>@DoYouWantToBePartner2020</h3>
            </div>

            <a href="mailto:devadventcalendar@gmail.com" class="chris_btn reveal animated" data-reveal-anim="fadeIn">
                @ContactUs
            </a>
        </div>
    </div>
</div>

<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@MainPrizes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@AppleIPad</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/AppleIPad.png" alt="Apple iPad 8-gen" title="Apple iPad 8-gen" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@DenonAHGC25W</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Denon.jpg" alt="Denon AH-GC25W" title="Denon AH-GC25W" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@GoogleHomeHub</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/GoogleHomeHub.jpg" alt="Google Home Hub" title="Google Home Hub" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@SonySRSXB23</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/SonyGlosnik.jpg" alt="Sony SRS-XB23" title="Sony SRS-XB23" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Arduino</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/arduino.jpg" alt="StarterKit Arduino od podstaw" title="StarterKit Arduino od podstaw" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Helion200</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/helion.jpg" alt="bon do Helion" title="Bon do Helion" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@BoilingFrogs</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/BoilingFrogs.png" alt="Bilet na BoilingFrogs" title="Bilet na BoilingFrogs" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@AwardsOfTheWeek</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@RaspberryPi</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Week/zestaw-raspberry-pi.jpg" alt="Oficjalny zestaw Raspberry Pi" title="Oficjalny zestaw Raspberry Pi" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@ArduinoStarterKit</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Week/arduino-starterkit-k000007.jpg" alt="Arduino StarterKit K000007" title="Arduino StarterKit K000007" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Nillkin</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Week/GlosnikNillkin.jpg" alt="Nillkin Traveler W2" title="Nillkin Traveler W2" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@GoogleHomeGlosnik</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Week/GoogleGlosnik.jpg" alt="Google Home Inteligentny Głośnik" title="Google Home Inteligentny Głośnik" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@XiaomiBand5</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Week/XiaomiMiBand.jpg" alt="Xiaomi Mi Band 5" title="Xiaomi Mi Band 5" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Helion100</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/helion.jpg" alt="bon do Helion" title="Bon do Helion" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@ItStartup</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/2020/Week/dodatekItStartup.png" alt="ItStartup" title="ItStartup" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>
