@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Prizes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="send_wishes_section shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ">
                <div class="send_wishe_content">
                    <div class="area_title">
                        <h3>@Presents</h3>
                    </div>
                    <p>@PresentsDescription</p>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="container mb-100 mt-100">
    <div class="row">
        <div class="col-12 mb-30 mt-30 text-center">
            <div class="area_title mb-30">
                <h3>@DoYouWantToBePartner2021</h3>
            </div>

            <a href="mailto:devadventcalendar@gmail.com" class="chris_btn reveal animated" data-reveal-anim="fadeIn">
                @ContactUs
            </a>
        </div>
    </div>
</div>*@

<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@MainPrizes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@AdataExternal</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/dysk-adata.jpg" alt="ADATA External SD700 1TB SSD" title="ADATA External SD700 1TB SSD" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@JblFlip</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/jbl-flip-5.jpg" alt="JBL Flip 5 Moro" title="JBL Flip 5 Moro" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@SteelSeriesApex5</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/klawiatura-steelseries.jpg" alt="SteelSeries Apex 5" title="SteelSeries Apex 5" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@JabraElite</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/sluchawki-jabra.jpg" alt="Jabra Elite" title="Jabra Elite" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@ArduinoForbot</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/arduino-zestaw.jpg" alt="Zestaw FORBOT - Arduino Uno Rev3" title="Zestaw FORBOT - Arduino Uno Rev3" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@RaspberryPi4</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/raspberry-pi-4.jpg" alt="Raspberry Pi 4 4 GB" title="Raspberry Pi 4 4 GB" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@PwnBook1</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/zrozumiec-programowanie.jpg" alt="Zrozumieć Programowanie, PWN" title="Zrozumieć Programowanie, PWN" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@PwnBook2</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/praktyczna-inzynieria-wsteczna.jpg" alt="Praktyczna inżynieria wsteczna, PWN" title="Praktyczna inżynieria wsteczna, PWN" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@PwnBook3</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/wprowadzenie-do-algorytmow.jpg" alt="Wprowadzenie do algorytmów, PWN" title="Wprowadzenie do algorytmów, PWN" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@BoilingFrogs</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/BoilingFrogs.png" alt="Bilet na BoilingFrogs" title="Bilet na BoilingFrogs" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@AwardsOfTheWeek</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@SamsungPowerbank</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/samsung-powerbank.jpg" alt="Samsung EB-U1200C 10000 mAh" title="Samsung EB-U1200C 10000 mAh" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@EdifierHeadphones</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/sluchawki-edifier.jpg" alt="Edifier W820BT" title="Edifier W820BT" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@XiaomiMiBand6</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/xiaomi-mi-band.jpg" alt="Xiaomi Mi Band 6" title="Xiaomi Mi Band 6" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@XiaomiMini</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/drukarka-xiaomi.jpg" alt="Xiaomi Mini" title="Xiaomi Mini" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@YeelightBulb</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/zarowka-xiaomi.jpg" alt="Xiaomi Color LED Yeelight" title="Xiaomi Color LED Yeelight" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@PwnBook4</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/czysty-kod.jpg" alt="Czysty kod, PWN" title="Czysty kod, PWN" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@PwnBook5</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/zawod-tester.jpg" alt="Zawód tester, PWN" title="Zawód tester, PWN" class="img-responsive center-block" />
                </div>
            </div>
        </div><div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@PwnBook6</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/Week/jakosc-w-agile.jpg" alt="Jakość w Agile, PWN" title="Jakość w Agile, PWN" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>
