@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Prizes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="send_wishes_section shadow mb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ">
                <div class="send_wishe_content">
                    <div class="area_title">
                        <h3>@Presents</h3>
                    </div>
                    <p>@PresentsDescription</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-100 mt-100">
        <div class="row">
            <div class="col-12 mb-30 mt-30 text-center">
                <div class="area_title mb-30">
                    <h3>Chcesz zostać sponsorem i wesprzeć dobrą inicjatywę w 2019 roku? </h3>
                </div>

                <a href="mailto:devadventcalendar@gmail.com" class="chris_btn reveal animated" data-reveal-anim="fadeIn">
                    Skontaktuj się z nami
                </a>
            </div>
        </div>
    </div>

<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@MainPrizes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Sennheiser</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/sennheiser.jpg" alt="Sennheiser HD4.50 BTNC" title="Sennheiser HD4.50 BTNC" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@MK850</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/mk850-performance.jpg" alt="MK850 PERFORMANCE" title="MK850 PERFORMANCE" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@TicketWrocSharp</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/wrocsharp.jpg" alt="bilet na Wroc#" title="Bilet na Wrocsharp" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Raspberry4</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/raspberry-pi-4.jpg" alt="Raspberry Pi 4B" title="Raspberry Pi 4B" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Xiaomi</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/xiaomi-redmi-airdots.jpg" alt="Xiaomi Redmi Airdots" title="Xiaomi Redmi Airdots" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@AwardsOfTheWeek</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@XiaomiBand4</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/xiaomi-mi-band-4.jpg" alt="Xiaomi Mi Band 4" title="Xiaomi Mi Band 4" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Helion100</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/helion.jpg" alt="bon do Helion" title="Bon do Helion" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Helion100</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/helion.jpg" alt="bon do Helion" title="Bon do Helion" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@ProgrammingBook</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/programowanie-funkcyjne.jpg" alt="książka Programowanie Funkcyjne" title="książka Programowanie Funkcyjne" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>@Nozbe</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/theme-2019/images/prizes/nozbe.jpg" alt="Nozbe Solo" title="Nozbe Solo" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>
