@{
    ViewBag.Title = "Wyniki";
}
@model DevAdventCalendarCompetition.Vms.TestResultsVm

<div class="text-center">
    <img src="~/images/icon.svg" width="200" />
    <h1>Wyniki Dev Advent Calendar</h1>
</div>

<div class="row results">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#totalresults" role="tab" data-toggle="tab">Wszystkie wyniki</a></li>

        @for (var j = 0; j < Model.SingleTestResults.Count; j++)
        {
            var result = Model.SingleTestResults[j];
            var active = "";


            <li role="presentation"><a href="#test@(result.TestNumber)" role="tab" data-toggle="tab">Test @result.TestNumber</a></li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        @for (var j = 0; j < Model.SingleTestResults.Count; j++)
        {
            var result = Model.SingleTestResults[j];

            if (result.TestEnded)
            {
                <div role="tabpanel" class="tab-pane" id="test@(result.TestNumber)">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-1">#</th>
                                <th>Użytkownik</th>
                                <th>Poprawne odpowiedzi</th>
                                <th>Błędne odpowiedzi</th>
                                <th>Punkty</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < result.Entries.Count; i++)
                            {
                                var testResult = result.Entries[i];
                                <tr>
                                    <th scope="row" class="col-xs-1">@(i + 1)</th>
                                    <td>@testResult.FullName</td>
                                    <td>@testResult.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div role="tabpanel" class="tab-pane" id="test@(result.TestNumber)">Test jeszcze się nie zakończył.</div>
            }
        }

        @if (Model.TotalTestResults != null)
        {
            <div role="tabpanel" class="tab-pane active" id="totalresults">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-1">#</th>
                            <th>Użytkownik</th>
                            <th>Suma punktów</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.TotalTestResults.Count; i++)
                        {
                            var testResult = Model.TotalTestResults[i];
                            <tr>
                                <th scope="row" class="col-xs-1">@(i + 1)</th>
                                <td>@testResult.FullName</td>
                                <td>@testResult.TotalPoints</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div role="tabpanel" class="tab-pane" id="totalresults">Testy jeszcze się nie zakończyły</div>
        }
    </div>
</div>