@model DevAdventCalendarCompetition.Services.Models.TestDto

<div class="row">
    <div class="col-md-12">
        @if (Model == null)
        {
            <h2>Brak zagadek na dziś</h2>
        }
        else
        {
            if (Model.SponsorLogoUrl != null)
            {
                <div id="day-sponsor" class="text-center">
                    <h2>Sponsorem dnia jest</h2>
                    <h3>@Model.SponsorName</h3>
                    <img src="images/@Model.SponsorLogoUrl" alt="@Model.SponsorName" width=165 />
                </div>
            }

            if (Model.Discount != null)
            {
                <br />
                <div class="discount text-center">
                    <h3>A oto prezent, jaki otrzymujesz od Elfów za otwarcie okienka</h3>
                    <h4>@Model.Discount</h4>
                    
                    @if (Model.DiscountLogoUrl != null && Model.DiscountUrl != null)
                    {
                        <div class="discount-links">
                            <a href="@Model.DiscountUrl" target="_blank">LINK</a>
                            <a href="@Model.DiscountUrl" target="_blank">
                                <img src="images/@Model.DiscountLogoUrl" alt="@Model.DiscountLogoUrl"/>
                            </a>        
                        </div>                                                                        
                    }
                </div>
                <br />
            }

            <h2>ZAGADKA @Model.Number</h2>
            <h3>@Model.Description</h3>
            <br />

            if (Model.HasUserAnswered)
            {
                <h3>Ho ho! Już odpowiedziałeś na to pytanie, brawo :)</h3>
            }
            else
            {
                using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for='answer'>Twoja odpowiedź</label>
                        <input id='answer' name="answer" type="text" class="form-control" style="text-transform: uppercase">
                    </div>
                    <button type="submit" class="btn btn-default">Wyślij</button>
                }
            }
        }
    </div>
</div>