@model DevAdventCalendarCompetition.Services.Models.TestDto
@using static DevAdventCalendarCompetition.Resources.ViewsMessages 
@using System.Globalization
@using DevAdventCalendarCompetition.Services.Interfaces
@inject IAdventService AdventService
@{
    var isAdvent = AdventService.IsAdvent();
}
    <div class="breadcrumb_area">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_wrapper">
                    <div class="page_title">
                        <h3>@string.Format(CultureInfo.InvariantCulture, @Puzzle, @Model.Number)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="event_txt mb-30">
        <div class="container">
            <div class="col-md-12">
                <div class="party_text">
                    <h1 class="mb-30">@Model.Description</h1>
                    @if (Model == null)
                    {
                        <div class="row content-centered">
                            <div class="col text-center">
                                <h4>@IntroParagraph1</h4>
                                <h4>@IntroParagraph2</h4>
                                <h4>@IntroParagraph3</h4>
                                <h4>@IntroParagraph4</h4>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (isAdvent && Model.SponsorLogoUrl != null)
                        {
                            <div id="day-sponsor" class="text-center mt-50 mb-50">
                                <h4 class="mb-20 text-primary">@SponsorOfTheDay</h4>
                                <h1 class="mb-20">@Model.SponsorName</h1>
                                <img src="images/@Model.SponsorLogoUrl" alt="@Model.SponsorName" width="165" />
                            </div>
                        }

                        if (isAdvent && Model.Discount != null)
                        {
                            <div class="discount text-center mt-50 mb-50">
                                <h3 class="mb-20">@GiftFromElfs</h3>
                                <h4 class="mb-20">@Model.Discount</h4>

                                @if (Model.DiscountLogoUrl != null && Model.DiscountUrl != null)
                                {
                                    <div class="discount-links">
                                        <a href="@Model.DiscountUrl" target="_blank">LINK</a>
                                        <a href="@Model.DiscountLogoUrl" target="_blank">
                                            <img src="images/@Model.DiscountLogoPath" alt="@Model.DiscountLogoPath" />
                                        </a>
                                    </div>
                                }
                            </div>
                        }

                        var errorMessage = Html.ValidationMessageFor(m => m.Answers);

                        if (!string.IsNullOrEmpty(errorMessage.ToString()))
                        {
                            <h3 class="mb-30 text-primary">@errorMessage</h3>
                        }

                        if (Model.HasUserAnswered)
                        {
                            <h3 class="mb-30 text-primary">@UserAlreadyAnswered</h3>
                        }
                        else if (isAdvent && (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate))
                        {
                            using (Html.BeginForm(FormMethod.Post))
                            {
                                <div class="mt-50 mb-50">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group mt-20">
                                        <h4 class="mb-20"><label for="answer">@YourAnswer</label></h4>
                                        <input id="answer" name="answer" type="text" class="form-control" required style="text-transform: uppercase">
                                        <p>@WeRemovedWhiteSpaces</p>
                                    </div>
                                    <button type="submit" class="chris_btn">@Send</button>
                                </div>
                            }
                        }
                        else
                        {
                            <h3 class="mb-30 text-primary">@YouAreLateWithAnswer</h3>
                        }
                    }

                    <div>
                        <img src="~/theme-2019/images/gift_bag.png" alt="" class="mt-30" />
                        <!-- "Odpowiedź do zagadki: karp" -->
                    </div>
                </div>
            </div>
        </div>
    </section>
