@model DevAdventCalendarCompetition.Models.GoogleCalendar.AddCalendarViewModel
@using static DevAdventCalendarCompetition.Resources.ViewsMessages
@using DevAdventCalendarCompetition.Views.Manage

@{
    ViewData["Title"] = "Dodaj kalendarz";
    ViewData.AddActivePage(ManageNavPages.GoogleCalendarIntegration);
}

<div class="area_title mb-30">
    <h3>@ViewData["Title"]</h3>
</div>
<div class="container mt-30 mb-30">
    <div class="row content-centered">
        <div class="col-md-6">
            <form asp-controller="GoogleCalendar" asp-action="AddCalendar" method="post">
                <div class="form-group">
                    <label asp-for="@Model.CalendarSummary"></label>
                    <input asp-for="@Model.CalendarSummary" class="form-control">
                    <span asp-validation-for="@Model.CalendarSummary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.StartDate"></label>
                    <input asp-for="@Model.StartDate" class="form-control">
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EndDate"></label>
                    <input asp-for="@Model.EndDate" class="form-control">
                    <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
                </div>
                <div class="content-centered">
                    <button type="submit" class="chris_btn reveal">@Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
