@model DevAdventCalendarCompetition.Services.Models.TestDto

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <strong>Status: </strong>Test zakończony<strong>
            </strong>
        </p>
        <p>
            <strong>Czas rozpoczęcia: </strong> @Model.StartDate.Value.ToLongDateString() @Model.StartDate.Value.ToShortTimeString() - <strong>Czas zakończenia: @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()</strong>
        </p>
    </div>
</div>