@model DevAdventCalendarCompetition.Services.Models.TestDto

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <strong>Status: </strong>Test rozpoczął się<strong>
            </strong>
        </p>
        <p>
            <strong>Czas rozpoczęcia: </strong> @Model.StartDate.Value.ToLongDateString()  @Model.StartDate.Value.ToShortTimeString() - <strong>Czas zakończenia: </strong> @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()
</p>
    </div>
    <div class="col-md-12">
        <form class="form-inline" method="POST" action="/Admin/EndTest">
            @Html.Hidden("testId", Model.Id)
            <button type="submit" class="btn btn-default">Zakończ test wcześniej</button>
        </form>
    </div>
</div>