@model DevAdventCalendarCompetition.Services.Models.TestDto
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <strong>@StatusTestIsOver</strong>
        </p>
        <p>
            <strong>@StartTime </strong> @Model.StartDate.Value.ToLongDateString() @Model.StartDate.Value.ToShortTimeString() - <strong>@EndTime @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()</strong>
        </p>
    </div>
</div>