@model DevAdventCalendarCompetition.Services.Models.TestDto
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <strong>@Status @TestStarted</strong>
        </p>
        <p>
            <strong>@StartTime </strong> @Model.StartDate.Value.ToLongDateString()  @Model.StartDate.Value.ToShortTimeString() - <strong>@EndTime </strong> @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()
        </p>
    </div>
    <div class="col-md-12">
        <form class="form-inline" method="POST" action="/Admin/EndTest">
            @Html.Hidden("testId", Model.Id)
            <button type="submit" class="btn btn-default">@CompleteTestEalier</button>
        </form>
    </div>
</div>