@model DevAdventCalendarCompetition.Services.Models.TestDto
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>

        <p>
            <b>@Status </b>@TestPreviousNotEnded
        </p>
        <p>
            <b>@PlannedTestStart </b> @Model.StartDate.Value.ToLongDateString() @Model.StartDate.Value.ToShortTimeString() - <b>@PlannedTestEnd @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()</b>
        </p>
    </div>
</div>