@model DevAdventCalendarCompetition.Services.Models.TestDto

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <b>Status: </b>Test zakończony<b>
            </b>
        </p>
        <p>
            <b>Czas rozpoczęcia: </b> @Model.StartDate.Value.ToLongDateString() @Model.StartDate.Value.ToShortTimeString() - <b>Czas zakończenia: @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()</b>
        </p>
    </div>
</div>