@model DevAdventCalendarCompetition.Services.Models.TestDto

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>

        <p>
            <strong>Status: </strong>Poprzedni test nie zakończył się
        </p>
        <p>
            <strong>Planowany czas rozpoczęcia: </strong> @Model.StartDate.Value.ToLongDateString() @Model.StartDate.Value.ToShortTimeString() - <strong>Planowany czas zakończenia: @Model.EndDate.Value.ToLongDateString() @Model.EndDate.Value.ToShortTimeString()</strong>
        </p>
    </div>
</div>